<div id="header" >
	<section class="level-select" ng-show="showLevelSelect">
		<img src="Quill-Logo.png" alt="Quill">
	</section>
	<section class="game-screen" ng-show="showGame">
		<img src="Quill-Logo.png" alt="Quill">
		<p id="username">{{animals[userid].name}} (You)</p>
	</section>
	<section class="game-screen" ng-show="showScore">
		<img src="Quill-Logo.png" alt="Quill">
		<p id="username">{{animals[userid].name}} (You)</p>
	</section>
</div>
<div id="subheader">
	<section class="level-select" ng-show="showLevelSelect">
		<h2 >Tool: WordLike</h2>
		<p >This tool will help you learn synonyms.</p>
	</section>
	<section class="game-screen" ng-show="showGame">
		<div id="game-info-right">
      <p id="timer">{{formatTime()}}</p>
			<p id="points">{{points}} Points </p>

    </div>
    <div id="game-info-left">
		  <h2 id="round-word">{{myWord}}</h2>
      <h2 id="round-number">Round {{wordnumber}}</h2>
			<p>{{definition}}</p>
		</div>
  </section>
	<section class="game-screen" ng-show="showScore">
		<h2 >Great work {{animals[userid].name}}!</h2>
		<p >You earned {{points}} points.</p>
		<div id="score-buttons">
		  <button id="next-button" ng-hide="showNextLevelButton" ng-click="fetchData(); switchState(2); showScoreButton=false;">Next Word</button>
			<button id="level-button" ng-show="showNextLevelButton" ng-click="changeLevel();">Next Level</button>

		</div>
			<div >
			</div>

	</section>
</div>
