<section id="tables" ng-show="showLevelSelect">
    <table id="easy-table">
      <tr>
        <th class="column-header">Easy</th>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(1); switchState(4);">Level 1</a></td>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(2); switchState(4);">Level 2</a></td>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(3); switchState(4);">Level 3</a></td>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(4); switchState(4);">Level 4</a></td>
      </tr>
    </table>
    <table id="medium-table">
      <tr>
        <th class="column-header">Medium</th>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(5); switchState(4);">Level 5</a></td>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(6); switchState(4);">Level 6</a></td>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(7); switchState(4);">Level 7</a></td>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(8); switchState(4);">Level 8</a></td>
      </tr>
    </table>
    <table id="hard-table">
      <tr>
        <th class="column-header">Hard</th>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(9); switchState(4);">Level 9</a></td>
      </tr>
      <tr>
        <td><a href="#" ng-click="getLevelData(10); switchState(4);">Level 10</a></td>
      </tr>
      <tr>
        <td><a href="#" >Level 11</a></td>
      </tr>
      <tr>
        <td><a href="#" >Level 12</a></td>
      </tr>
    </table>
</section>
