<section id="score" ng-show="showScore">

  <h1>You got {{correctWords.length}} words correct.</h1>
  <h1 ng-show="showCompletedGoal">You achieved your goal of {{ goalNumber}} words.</h1>
  <h1 ng-hide="showCompletedGoal">You did not achieve your goal of {{goalNumber}} words.</h1>
  <h1>Words You Got Correct This Round</h1>
  <table id="correct-table" ng-init="rowCreate = [1]">
      <tr ng-repeat="syn in correctWords" >
        <td ng-repeat="r in rowCreate">
            <span style="float: left;" id="correct-list-word">{{syn.word }}</span>
            <span style="float: right;" id="correct-list-points">{{syn.points}}</span>
        </td>
      </tr>
  </table>

  <h1>Highscores</h1>

  <table id="score-table" ng-init="rowCreate = [1]">
      <tr ng-repeat="player in sortedPlayerList" >
        <td ng-repeat="r in rowCreate">
          <span id="player-place">{{$parent.$index + 1}}</span>
          <span id="player-id">{{player.userid | playerFilter:userid:this}}</span>
          <span id="player-points">+ {{player.points}}</span>
        </td>
      </tr>
  </table>






</section>
