<section id="level-select" ng-show="showLevelSelect">
	<div>LEVEL 1</div>
	<div>LEVEL 2</div>
	<div>LEVEL 3</div>

</section>
<section id="game" ng-show="showGame">
<div class="column-left">
	<div class="bordered" style="padding-left:5px; padding-top:5px; padding-bottom:5px">Words Found <i class="fa fa-question-circle" title="This is where the list of synonyms will show up. Every second without a guess, one of the words' letters will be shown."></i></div>
	<div class="bordered" data-step="3" data-intro="A list of possible synonyms will show up here. The words will be blank until you guess them, or they are revealed over the course of the game.">
		<ul><li ng-repeat="word in words"><span ng-class="{'strike': word.strike}"><b>{{word.dummy}}</span>     <font color="green">{{word.points}}</font></b></li></ul>
	</div>
	<div class="bordered" style="background-color:#FFD633; margin-top:20px; padding-left:5px; padding-right:5px" data-step="8" data-intro="Look here for a refresher on the rules if you need to. Now, let's start the game!">
		<p>Click the button to show a word. You will have 45 seconds to try and guess as many synonyms of that word as you can. After every second without a guess, one of the words will have a part of it revealed.</p>
		<p>Guessing a synonym correctly will result a number of points based on how much of the word has ben revealed.</p>
	</div>
</div>

<div class="column-center">
	<span data-step="5" data-intro="This is how much time you have left for each word. You start with 45 seconds, and every second without a guess reveals a letter of one of the words in the list.">{{seconds}} seconds left <i class="fa fa-question-circle" title="Every word will have 45 seconds to guess as many synonyms as you can."></i></span>
	<h1>{{myWord}}</h1>
	<p>{{definition}}</p>

	<div ng-show="showSubmit">
		<button ng-click="fetchData()" data-step="2" data-intro="Clicking this button will start the game by showing the first word in the list.">Next word</button>
	</div>

	<div ng-show="showCompare">
		<form ng-submit="compare()">
			<i class="fa fa-question-circle" title="Type in a word here and click the button to see if it is a correct synonym."></i>
			<input id="main-input" type="text" ng-model="input">
			<button>Compare to the list</button>
		</form>
		<h1>{{status}}</h1>
	</div>
</div>

<div class="column-right">
	<div class="bordered" style="padding-left:5px; padding-top:10px; padding-bottom:10px" data-step="6" data-intro="This is your score. Correct guesses are worth a number of points based on how long the word is and how much of it is shown.">
		<b>{{animals[userid].name}}</b></br>{{points}} Points <i class="fa fa-question-circle" title="Correct guesses are worth a number of points based on how long the word is and how much of it is shown."></i></div>
	<div class="bordered" style="padding-left:5px; padding-top:5px; padding-bottom:5px; margin-top:20px">Leaderboard <i class="fa fa-question-circle" title="Here you will see all of the other people currently playing the game. Try to get the highest score!"></i></div>
	<div style="border-style:solid; border-width:1px; border-color:gray" data-step="7" data-intro="This is the leaderboard, where you will see yourself and everyone else who's playing. Try to get the highest score!">
		<p style="padding-left:5px" ng-repeat="player in players">{{player.userid | playerFilter:userid:this}} -- {{player.points}} Points</p>
	</div>
</div>
</section>
