body {font-family: 'Open Sans', sans-serif;}
li {padding-top: 5px; padding-bottom:5px; white-space: pre}
.blank {color: white;}
.show {color: black;}
.strike {text-decoration: line-through;}
.bordered {border-style:solid; border-width:1px; border-color:gray;}
#header {
  background-color:#00c2a2;
  color:white;
 margin: 0px;
 padding-top: 25px;
 padding-bottom: 25px;
}
h2{
 margin: 0px;
}
p{
 margin: 0px;
}
#header p{
 float: right;
 padding-right: 25%;
}
#header img {
 margin: 0px;
 padding-top: 10px;
}
#header .level-select{
 text-align: center;
}
#header .game-screen{
 text-align: left;
 padding-left: 25%;
}
.game-screen #username{
  padding-top: 30px;
  float:right;
}

#subheader{
 background-color:#DDDDDD;
 text-align:center;
 margin-bottom:10px;
 padding-top: 10px;
 padding-bottom: 10px;
}
#subheader .level-select{
 text-align:center;

}
#subheader .game-screen{
 text-align:left;
 padding-left: 25%;
 padding-right: 25%;
 padding-bottom: 20px;
 padding-top: 20px;
}
#tables{
  left: 5%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
#tables table, th, td{
  border: 1px solid #888888;
}
#tables table{
  float: left;
  width: 25%;
  margin: 20px;
  border-collapse: collapse;

}
#tables th{
  font-size: 22px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: #888888;
  color: white;
}
#tables td{
  text-align: center;
  padding: 10px 15px 10px 15px;


}
/* unvisited link */
a:link {
    color: #00c2a2;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #007461;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #99E7DA;
    text-decoration: none;
}

#game-info-left h2{
    display: inline;

}
#game-info-left{
  padding-bottom: 15px;

}
#game-info-left #round-word{
  padding-right: 20%;
}
#game-info-left #round-number{
  color: #4d4d4d;
}
#game-info-right #timer{
  color: #4d4d4d;
  font-size: 20px;
  font-weight: bold;
}
#game-info-right #points{
  color: #4d4d4d;
  font-size: 20px;
  font-weight: bold;
}
#game-info-right{
  float:right;
}

#game .word-list table{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border-color: #888888;
}
#game .word-list td{
  width: 14%;
  height: 40px;
}

#game .word-list span{
  font-size: 30px;
  text-align: left;
  padding-left: 5px;
}
#game .form-div{
  width: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
#game .form-div #purple-box-container{
  height: 100px;
}
#game .form-div #purple-box{
  color: white;
  padding-top: 7px;
  margin-top: 0px;
  height: 40px;
  background-color: #a782a8;
}
#game .form-div #check-button{
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}
#game .form-div #main-input{

  margin-top: 30px;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;;
  text-align: center;
  height: 50px;
  width: 450px;

}
#game .form-div form{
  display: block;
}
#game #backbutton-div{
  padding-top: 20px;
  padding-left: 45px;
}
#score {
  width: 70%;
  margin-right: auto;
  margin-left: auto;

}
#score h1{
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#score table {
  width: 70%;
  margin-right: auto;
  margin-left: auto;

}
#score table td {
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  height: 30px;
}

#score table td #player-place {float: left; padding-right: 35%;}

#score table td #player-points {float: right;}

#goal{
  text-align: center;
}


.game-screen #score-buttons{
  width: auto;
  display: inline;
  float:right;
}


button {
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;;
  color: white;
  font-size: 20px;
  background: #00C2A2;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

button:hover {
  background: #99E7DA;
  text-decoration: none;
}
